# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @vmagautam will be requested for review when someone opens a pull request.
*       @vmagautam

# Order is important; the last matching pattern takes the most
# precedence.

# Core components
/vma/  @vmagautam
/vma/commands/  @vmagautam
/vma/core/  @vmagautam